.label{
    -fx-font-size: 16px;
    -fx-text-fill: #670c0c;
    -fx-rotate: -2deg;
    -fx-background-color: #e8b4b4;

}

#root{
    -fx-background-color: white;
    /*
    -fx-background-image: url(../img/nombre.jpg);
    -fx-background-position: center,center;
    -fx-background-size: cover;

     */
}

#vbox{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
